<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   preset50.plist
   gpa_cal

   Created by Macbookpro on 16/9/18.
   Copyright (c) 2016年 Macbookpro. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
