<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CSC108S Test</string>
	<string>S</string>
	<string>0</string>
	<string>Assignment 1</string>
	<string>10.0</string>
	<string>0.0</string>
	<string>0.0</string>
	<string>Assignment 2</string>
	<string>10.0</string>
	<string>0.0</string>
	<string>0.0</string>
	<string>Assignment 3</string>
	<string>10.0</string>
	<string>0.0</string>
	<string>0.0</string>
	<string>Midterm</string>
	<string>25.0</string>
	<string>0.0</string>
	<string>0.0</string>
	<string>Final</string>
	<string>60.0</string>
	<string>0.0</string>
	<string>0.0</string>
</array>
</plist>
