<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>ECO220Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Writing Assignment1</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
	<string>Writing Assignment2</string>
	<string>6</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test1</string>
	<string>16.6</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test2</string>
	<string>16.6</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test3</string>
	<string>16.6</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>40</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
