<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>CSC148F</string>
	<string>F</string>
	<string>0</string>
	<string>Exercise1</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise2</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise3</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise4</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise5</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise6</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Exercise7</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Lab1</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab2</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab3</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab4</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab5</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab6</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab7</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab8</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab9</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab10</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab11</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Assignment1</string>
	<string>14</string>
	<string>0</string>
	<string>0</string>
	<string>Assignment2</string>
	<string>14</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm1</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm2</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>39.5</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
