<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>IFP010Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Recorded Speaking Assignment1</string>
	<string>2.5</string>
	<string>0</string>
	<string>0</string>
	<string>Recorded Speaking Assignment2</string>
	<string>2.5</string>
	<string>0</string>
	<string>0</string>
	<string>Listening Journal1</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Listening Journal2</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Listening Journal3</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Listening Journal4</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Listening Journal5</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Vocab Quiz</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test</string>
	<string>15</string>
	<string>0</string>
	<string>0</string>
	<string>Participation and Homework</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Presentation and Lead Discussion</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>RSA</string>
	<string>2.5</string>
	<string>0</string>
	<string>0</string>
	<string>RSA2</string>
	<string>2.5</string>
	<string>0</string>
	<string>0</string>
	<string>Quiz</string>
	<string>8</string>
	<string>0</string>
	<string>0</string>
	<string>Speaking Test</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Participation</string>
	<string>3</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>24</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
