<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>IFP020Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Personal Reflection</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>ARC Study Group Notes + Proposal</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Critical Literature</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Quiz1</string>
	<string>12</string>
	<string>0</string>
	<string>0</string>
	<string>Book Club Fall</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
	<string>Quiz2</string>
	<string>3</string>
	<string>0</string>
	<string>0</string>
	<string>Plan + Annotated Bibliography</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Provisional Partial Paper</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Final Paper</string>
	<string>12</string>
	<string>0</string>
	<string>0</string>
	<string>Book Club Winter</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
	<string>Final Test</string>
	<string>25</string>
	<string>0</string>
	<string>0</string>
	<string>Participation</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
