<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>STA490F</string>
	<string>F</string>
	<string>0</string>
	<string>Class meeting</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Team meeting</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Data Assignment Analysis</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Data Assignment Report</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>BMJ Presentation</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Three Project Presentation</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Project Log</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Final Report Draft</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Technical Summary Draft</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Results Presentation</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Final Report Statistics Work</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Report Writing</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Technical Summary</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
