<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>PSY100F</string>
	<string>F</string>
	<string>0</string>
	<string>Term Test1</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test2</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Final Exam</string>
	<string>36</string>
	<string>0</string>
	<string>0</string>
	<string>Experimental Credit</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
