<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Wolfson</string>
	<string>ECO100Y Wolfson</string>
	<string>Y</string>
	<string>0</string>
	<string>Warm-up</string>
	<string>2</string>
	<string>0</string>
	<string>0</string>
	<string>Test1</string>
	<string>13</string>
	<string>0</string>
	<string>0</string>
	<string>Test2</string>
	<string>9</string>
	<string>0</string>
	<string>0</string>
	<string>Test3</string>
	<string>13</string>
	<string>0</string>
	<string>0</string>
	<string>Test4</string>
	<string>13</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>50</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
