<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>IFP100Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Library Research Part1</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>Library Research Part2</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>Library Research Part3</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>History Essay Part1</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>History Essay Part2</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>History Essay Part3</string>
	<string>0</string>
	<string>0</string>
	<string>0</string>
	<string>Term Test</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Test</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Tutorial Participation</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Group Notes Assignment</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
