<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>CSC108F</string>
	<string>F</string>
	<string>0</string>
	<string>Prep1</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep2</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep3</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep4</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep5</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep6</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep7</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep8</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep9</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Prep10</string>
	<string>0.5</string>
	<string>0</string>
	<string>0</string>
	<string>Perform1</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform2</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform3</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform4</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform5</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform6</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform7</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform8</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Perform9</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Assignment1</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Assignment2</string>
	<string>8</string>
	<string>0</string>
	<string>0</string>
	<string>Assignment3</string>
	<string>8</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm Test</string>
	<string>15</string>
	<string>0</string>
	<string>0</string>
	<string>Final Test</string>
	<string>50</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
