<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>ANT100Y</string>
	<string>Y</string>
	<string>0</string>
	<string>First Test</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Second Test</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Essay1 Draft</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
	<string>Essay1 Final</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Essay2 Draft</string>
	<string>4</string>
	<string>0</string>
	<string>0</string>
	<string>Essay2 Final</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Participantion</string>
	<string>12</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
