<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>ECO358F</string>
	<string>F</string>
	<string>0</string>
	<string>Midterm1</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm2</string>
	<string>30</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>40</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
