<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>MIE242F</string>
	<string>F</string>
	<string>0</string>
	<string>Lab1</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab2</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab3</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Lab4</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Online test</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Project Proposal</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Presentation</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Project Report</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
