<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>SOC101Y</string>
	<string>Y</string>
	<string>0</string>
	<string>In-class Participation or Reflexive Essays</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Peer Contributions</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Test1</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Test2</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Porfolios</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Content Analysis</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Final Exam</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
