<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>STA220F</string>
	<string>F</string>
	<string>0</string>
	<string>Midterm</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
	<string>Weekly Quiz</string>
	<string>14</string>
	<string>0</string>
	<string>0</string>
	<string>Research Survey</string>
	<string>1</string>
	<string>0</string>
	<string>0</string>
	<string>Final Exam</string>
	<string>50</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
