<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>SPA100Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Reading and Writing Test1</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Reading and Writing Test2</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Reading and Writing Test3</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Video1</string>
	<string>6</string>
	<string>0</string>
	<string>0</string>
	<string>Video2</string>
	<string>6</string>
	<string>0</string>
	<string>0</string>
	<string>Online Homework</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Short Quizzes</string>
	<string>6</string>
	<string>0</string>
	<string>0</string>
	<string>Participation</string>
	<string>8</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>34</string>
	<string>0</string>
	<string>0</string>
	<string>Cultural Events</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
