<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>DRM100Y</string>
	<string>Y</string>
	<string>0</string>
	<string>First Semester Participation</string>
	<string>15</string>
	<string>0</string>
	<string>0</string>
	<string>Second Semester Participation</string>
	<string>15</string>
	<string>0</string>
	<string>0</string>
	<string>Performance1</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Performance2</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Performance3</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Performance4</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Essay</string>
	<string>15</string>
	<string>0</string>
	<string>0</string>
	<string>Final</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
