<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>PHL275F</string>
	<string>F</string>
	<string>0</string>
	<string>1200 Words Essay</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>1800 Words Essay</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
	<string>Attendance</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Participation</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>FInal</string>
	<string>35</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
