<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>EAS310Y</string>
	<string>Y</string>
	<string>0</string>
	<string>Classroom Performance in Lecture</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Classroom Performance in Drill</string>
	<string>20</string>
	<string>0</string>
	<string>0</string>
	<string>Homework</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Digital Storytelling Essay</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Digital Storytelling Presentation</string>
	<string>5</string>
	<string>0</string>
	<string>0</string>
	<string>Midterm</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Oral Presentation</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Exam Written</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
	<string>Final Exam Oral</string>
	<string>10</string>
	<string>0</string>
	<string>0</string>
</array>
</plist>
